@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

:root{
    --darkest: #1d2021;
    --header-text: #eae1ba;
    --body-text: #eceff4;
}

body{
    background-color: var(--darkest);
    font-family: Montserrat, sans serif;
}

.flex{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.content{
    text-align: center;
}

h1{
    color: var(--header-text);
    font-size: 5em;
}

form{
    position: relative;
}

.search-box{
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 2px solid #283134;
    background-color: transparent;
    color: var(--body-text);
    font-size: 1em;
}

.search-box::placeholder{
    color: var(--header-text);
    font-weight: 500;
}

.focus-border{
    position: absolute;
    left: 0; bottom: 0;
    height: 2px;
    width: 0;
    z-index: 700;
}

.search-box:focus ~ span{
    width: 100%;
    background-color: var(--header-text);
    transition: 800ms;
}
